<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>upload</title>
</head>
<body>
	<p>Welcome to the image upload classification API, go to /image/upload to start</p>
</body>
</html>